config/*
flownet/checkpoints/*
models/clocknet/flownet/checkpoints/*
models/profiler/*
utils/*
**/__init__.py
**/.ipynb_checkpoints
.*.swp
.DS_Store
*.ipynb
.idea/
**/log
**/tmp
*.py[cod]
*$py.class
__pycache__/
